<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"> <title>Home</title>
</head>
<body>
    <header>
        <h1>CREDIT INVESTMENT SYSTEM</h1>
        <h3>The best recommendations, made specially for you</h3>
    </header>
    <main class="home-container"> <a href="/login" class="btn-home">Login</a>
        <a href="/create-user" class="btn-home">Create User</a>
    </main>

    <footer>
        <p>&copy; 2026 Credit Recommendation Service. All rights reserved.</p>
    </footer>
    
</body>
</html>